{% extends '__base__.html' %}

{% block title %}编辑图表{% endblock %}

{% block beforehead %}

<script>

var
    Chart_id = '{{ chart_id }}',
    Project_id = '{{ project_id }}',
    action = '{{ action }}';
var vm = {};
var BarOption ={};

function initVM(chart) {
    vm = new Vue({
        el: '#vm',
        data: chart,
        created: function() {
            BarOption = new initOption('main', this.option.title, this.option.subtitle, str2strArray(this.option.legend), str2strArray(this.option.x_axis), str2numArray(this.option.y_axis), this.option.y_unit);
            Bar(BarOption);
        },
        methods: {
            prview: function(event) {
                event.preventDefault();
                BarOption.title = this.option.title;
                BarOption.subtitle = this.option.subtitle;
                BarOption.legend = str2strArray(this.option.legend);
                BarOption.x_axis = str2strArray(this.option.x_axis);
                BarOption.y_axis = str2numArray(this.option.y_axis);
                BarOption.y_unit = this.option.y_unit;
                Bar(BarOption);
            },
            submit: function (event) {
                event.preventDefault();
                var $form = $('#vm').find('form');
                $form.postJSON(action + Chart_id, this.$data, function (err, r) {
                    if (err) {
                        $form.showFormError(err);
                    }
                    else {
                        return location.assign('/project/edit/'+r.project_id);
                    }
                });
            },
            cancel: function (event) {
                window.close();
            }
        }
    });
    $('#vm').show();
}

$(function () {
    if (Chart_id) {
        getJSON('/api/chart/' +Chart_id, function (err, chart) {
            if (err) {
                return fatal(err);
            }
            $('#loading').hide();
            initVM(chart);
        });
    }
    else {
        $('#loading').hide();
        initVM({
            type: 'bar',
            project_id: Project_id,
            option: {
                title: '',
                subtitle: '',
                legend: '',
                x_axis: '',
                y_axis: '',
                y_unit: ''
            },
            description:''
        });
    }
});

</script>
{% endblock %}

{% block navbar %}
<ul class="uk-navbar-nav">
    <li ><a href="/"><i class="uk-icon-home"></i> 首页</a></li>
    <li ><a href="/projects/manage"><i class="uk-icon-book"></i> 我的工程</a></li>
</ul>
{% endblock %}

{% block content %}
<div id="error" class="uk-width-1-1"></div>

<div id="loading" class="uk-width-1-1 uk-text-center">
    <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
</div>

<div id="vm" class="uk-width-1-1">
    <form  v-on:submit="submit" class="uk-form uk-form-stacked uk-grid" >
        <div class="uk-width-3-10">
            <div class="uk-alert uk-alert-danger uk-hidden"></div>
            <div class="uk-form-row">
                <label class="uk-form-label">&nbsp;标题</label>
                <div class="uk-form-controls">
                    <textarea  v-model="option.title" name="title" rows="1" placeholder="[选填] 标题" v-text="option.title" class="uk-width-1-1"></textarea>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">&nbsp;副标题</label>
                <div class="uk-form-controls">
                    <textarea v-model="option.subtitle" name="subtitle" rows="1" placeholder="[选填] 副标题" v-text="option.subtitle" class="uk-width-1-1"></textarea>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">&nbsp;图例名称</label>
                <div class="uk-form-controls">
                    <textarea  v-model="option.legend" name="legend" rows="1" placeholder="[选填] 图例名称" v-text="option.legend" class="uk-width-1-1"></textarea>
                </div>
            </div>
             <div class="uk-form-row">
                <label class="uk-form-label" style="color:red">&nbsp;*X轴</label>
                <div class="uk-form-controls">
                    <textarea v-model="option.x_axis" name="x_axis" rows="1" placeholder="[必填] 以英文逗号“,”间隔，例如：苹果,小米,华为" v-text="option.x_axis" class="uk-width-1-1"></textarea>
                </div>
            </div>
             <div class="uk-form-row">
                <label class="uk-form-label" style="color:red">&nbsp;*Y轴</label>
                <div class="uk-form-controls">
                    <textarea v-model="option.y_axis" name="y_axis" rows="1" placeholder="[必填] 以英文逗号“,”间隔，例如：123,321,123" v-text="option.y_axis" class="uk-width-1-1"></textarea>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">&nbsp;Y轴单位</label>
                <div class="uk-form-controls">
                    <textarea v-model="option.y_unit" name="y_unit" rows="1" placeholder="[选填] Y轴单位" v-text="option.y_unit" class="uk-width-1-1"></textarea>
                </div>
            </div>
            <div class="uk-form-row">
                <button v-on:click="prview" type="button" class="uk-button uk-button-success"><i class="uk-icon-play-circle"></i> 预览</button>
                <button v-on:click="cancel" type="button" class="uk-button uk-float-right"><i class="uk-icon-times"></i> 取消</button>
                <button type="submit" class="uk-button uk-button-primary uk-float-right" style="margin-right:5px"><i class="uk-icon-save"></i> 保存</button>
            </div>
        </div>
        <div class="uk-width-7-10">
            <div id="main" class="uk-width-1-1" style="height:300px; margin:10px 0 0 0"></div>
            <div class="uk-form-row">
                <label class="uk-form-label">&nbsp;图表描述</label>
                <div class="uk-form-controls">
                    <textarea v-model="description" rows="3" name="description" placeholder="" class="uk-width-1-1"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
    
{% endblock %}
